.erp-content-container {
    background-color: white;
    padding:200px 20px 10px;
    margin-top: -30px;
  }
  
  .erp-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
  }
  
  .erp-image {
    flex: 1;
    padding-right: 20px;
    
    
  }
  
  .erp-image .image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .erp-text {
    flex: 2;
    width: 50%;
  }
  
  .erp-text h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .erp-text p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 16px;
  }
  
  .read-more-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .read-more-btn:hover {
    background-color: #0056b3;
  }
  