.erp-content-container {
    padding:100px 20px 100px;
    margin-top: -30px ;
    width: 100%;
    background-image: url('https://hitechnepal.com/images/portfolio_bg.png');
    background-color: #f9f9f9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .erp-content {
    display: flex;
    margin: 20px 120px;
    width: 90%;
    gap: 200px;
    
  }
  
  .erp-image {
    flex: 1;
    padding-right: 20px;
    width: 100%;
    
  }
  
  .erp-image .image {
    width: 500;
    height: 350;
    bottom: -75%;
    left: 200px;
    border-radius: 8px;
    position:absolute;
  }
  
  .erp-text {
    flex: 2;
    width: 50%;
    margin:20px  80px;
    
  }
  
  .erp-text h2 {
    font-size: 2rem;
    color: black;
    margin:  30px 30px ;
    width: 80%; 
    border-bottom: 5px solid transparent;
    background-image: linear-gradient(to right, blue 50%, red 50%);
    background-position:bottom-right;
    background-size: 140px 2px; 
    background-repeat: no-repeat;

    
  }
  
  .erp-text p {
    font-size: 1rem;
    color: #555;
    margin: 10px 30px;
    width: 90%;

  }.read-more-btn, .contact-btn {
    display: inline-block;
    padding: .4rem 1rem;
    margin: 10px ;
    border: 2px solid #2d2f91;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2f91;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      color: black;
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color:black;
      &:before {
        width: 100%;
      }
    }}
  