.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 20px 10px 40px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: fixed;
  z-index: 900;
}


.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-left: 5px;
}

.logoImage {
  height: 65px;
  width: auto;
  object-fit: contain;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.navItem {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin: 20px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
  
}

.navItem a {
  text-decoration: none;
  color: black;
}

.navItem:hover a {
  color: #00009b; /* Dark blue on hover */
}

.downArrow {
  margin-left: 5px;
  font-size: 0.9rem;
  color: #000000;
  
}
.navItem:hover .downArrow {
  color:#00009b;
}


/* Dropdown Styles */
.dropdownMenu {
  position: absolute;
  top: 100%; /* Adjusted to move it lower */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  opacity: 0; /* Initially hidden */
  transform: translateY(-10px); /* Start slightly above */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth fade-in and drop effect */
  
}

.navItem:hover .dropdownMenu {
  display: block;
  opacity: 1; /* Show the dropdown */
  transform: translateY(0); /* Drop into place */
}

.dropdownMenu li {
  padding: 10px;
  color: black;
  transition: background 0.3s;
}

.dropdownMenu li:hover {
  color:#00009b;
}
.producticon{
  width: 25px;
  height: 25px;
  margin: 10px;
}




.ticketButton {
  margin-left: 20px;
  padding: 22px 16px; /* Increased height */
  background-color: #2a2f98;
  color: #fff;
  border: none;
  border-radius: 0px; /* Removed rounded corners */
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.ticketButton:hover {
  background-color: #ffffff;
  color:#2a2f98;  /* Darker blue on hover */
  font-weight: 500;
}


.menuIcon {
  margin-left: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}


//style for tab section

//tabsection
.container {
  display: flex;
  text-align: center;
  width: 90%;
  height: 180px;
  margin-left: 5%;
  justify-content: space-around;
  background-color: white;
  position: absolute;
  top: -30px;  // Adjust to move it upwards
  left: 45%;
  transform: translateX(-50%);
  z-index: 10;
  margin-bottom: 2rem; 
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-bottom: 3px solid #00009b;
}

.tab {
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  border-right: 1px solid rgb(206, 205, 205);
}

.activeTab {
  background-color: #0c0c79; /* Blue background for active tabs */
  color: white;
  position: relative; 
}

.activeTab::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0c0c79; /* Match activeTab background color */
}

.tabNumber {
  font-size: 8.25rem; /* Text size */
  font-weight: bold;
  opacity: 0.5;
  position: absolute;
  right: 40;
}

.tabLabel {
  color: black; 
  font-size: 1rem;
  font-weight: bold;

}

.activeLabel {
  color: white;
}

.tabImage {
  width: 60px;
  height: 60px;
  margin: 20px 100px 10px;
}

.tab:last-child {
  border-bottom-right-radius: 15px; 
}

.tab:first-child {
  border-bottom-left-radius: 15px; 
}


.sidebar {
  position: fixed;
  top: 0;
  right: -36%; /* Start off-screen */
  width: 36%;
  height: 100%;
  background-color: rgb(245, 252, 255);
  background-image:url(https://codiqa.bold-themes.com/product/wp-content/uploads/sites/3/2019/09/bgn-shapes-white.png);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding:18px;
  overflow-y:auto;
}

.sidebar.visible {
  right: 0; /* Slide in */
}

.sidebarHeader {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 34px;
  font-weight:lighter;
  cursor: pointer;
  color:#000000;
}

.sidebarNav {
  list-style: none;
  padding: 20px;
  margin-top: 20px;
  height: calc(100vh - 275px); /* Adjust height based on your layout */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.sidebarNav li {
  margin: 15px;
}

.sidebarNav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}


/* Flex container for Link text and dropdown icon */
.flexLink {
  display: flex;
  justify-content:space-between;
  align-items: center; /* Vertically center the icon with the text */
  gap: 100px; /* Space between text and icon */
}

.flexLink:hover{
  color:#ff5c5c;
}


.dropdownIcon {
  font-size: 30px; 
  color: #333;
}
.dropdownIcon:hover{
  color:#00009b;
}

/* Optional: Customize scrollbar */
.sidebarNav::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.sidebarNav::-webkit-scrollbar-track {
  background: #bebebe; /* Color of the track */
}

.sidebarNav::-webkit-scrollbar-thumb {
  background: #1a1a1a; /* Color of the scrollbar */
  border-radius: 4px; /* Rounded corners */
}

.sidebarNav::-webkit-scrollbar-thumb:hover {
  background: #1b1b1b; /* Color of the scrollbar on hover */
}

.menuIcon {
  cursor: pointer;
  font-size: 34px;
}

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Below sidebar but above everything else */
  transition: opacity 0.3s ease-in-out;
}


.SideticketButton {

  padding: 12px 12px; /* Increased height */
  background-color: #2a2f98;
  color: #fff;
  border: none;
  border-radius: 0px; /* Removed rounded corners */
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.SideticketButton:hover {
  background-color: #ffffff;
  color:#ff3d3d; 
  font-weight: 500;
}


.pmIcon {
  font-size: 20px; 
  color: #ff5c5c;

  margin-right: 10px;
  
}

.sideContact {
  margin: 16px;
  padding: 5px;
  font-size:20px;
  color:#000000;
  font-weight:bold;
  
}
.spn{
  display: flex;
  margin:6px;
}



.logoContainers {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 60px;
  margin-left: 20px;
}

.logoImages {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.socialIcon{
  display: flex;
  
}

.sIcon{
  margin: 6px;
  border:solid #ff3d3d 1px;
  padding:6px;
}
.sI{
  color: #ff3d3d;
}