.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: fixed;
    z-index: 900;
    
  }
  
  .logoContainer {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }
  
  .logoText {
    color: #00009b;
    font-size: 3rem;
    text-align: center;
  }
  
  .subtitle {
    color: white;
    font-size: 1rem;
    background-color: red;
    padding: 2px ;
    border-radius: 5px;
    margin: 0 15px ;
    font-weight: bold;
  }
  
  .tagline {
    font-size: 0.6rem;
    color: #666;
    text-align: center;
  }
  .downArrow {
    margin-left: 5px;
    font-size: 0.8rem;
    color: #666; // Adjust the color to match your design
  }
  
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .navList {
    display: flex;
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    gap: 20px;
  }
  
  .navItem {
    font-size: 1rem;
    color: #000;
    cursor: pointer;
  }
  
  .ticketButton {
    margin-left: 20px;
    padding: 20px 16px;
    background-color: #2a2f98;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menuIcon {
    margin-left: 80px;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
  }
  
  //tabsection
  .container {
    display: flex;
    text-align: center;
    width: 90%;
    height: 180px;
    margin-left: 5%;
    justify-content: space-around;
    background-color: white;
    position: absolute;
    top: 100%;
    margin-bottom: 2rem; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom:3px solid #00009b;
  }
  
  .tab {
    
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
    border-right: 1px solid rgb(206, 205, 205);
  }
  
  .activeTab {
    background-color: #0c0c79; /* Blue background for active tabs */
    color: white;
    position: relative; 
    
  }
  .activeTab::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0c0c79; /* Match activeTab background color */
  }
  
  
  .tabNumber {
    font-size: 8.25rem; /* Text size */
    font-weight: bold;
    opacity: 0.5;
    position: absolute;
    right: 40;
  }
  
  .tabLabel {
    color: black; 
    font-size: 1rem;
    font-weight: bold;
    
  }
  
  .activeLabel {
    color: white;
  }
  .tabImage {
    width: 60px;
    height: 60px;
    margin: 20px 100px 10px;
    
  }
  .tab:last-child {
    border-bottom-right-radius: 15px; 
  }
  .tab:first-child {
    border-bottom-left-radius: 15px; 
  }
  